/* Blue-grey Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #546e7a;
  --primary-hover: #455a64;
  --primary-focus: rgba(84, 110, 122, 0.125);
  --primary-inverse: #FFF;
  --background-hero: url("data:image/svg+xml;charset=UTF-8,%3csvg id='visual' viewBox='0 0 1920 300' width='1920' height='300' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3e%3cstyle type='text/css'%3e %40keyframes wave %7b 0%25 %7b transform: translate(0, 0);%7d 50%25 %7b transform: translate(5px, 8px);%7d 100%25 %7b transform: translate(0, 0);%7d %7d .path1 %7b animation-name: wave; animation-duration: 5s; animation-iteration-count: infinite; animation-timing-function: ease-in-out;%7d .path2 %7b animation-name: wave; animation-duration: 4.8s; animation-iteration-count: infinite; animation-timing-function: ease-in-out; animation-delay: 0.2s;%7d .path3 %7b animation-name: wave; animation-duration: 5.5s; animation-iteration-count: infinite; animation-timing-function: ease-in-out; animation-delay: 0.4s;%7d %3c/style%3e%3crect x='0' y='0' width='1920' height='300' fill='%23dedede'%3e%3c/rect%3e%3cpath class='path1' d='M0 216L26.7 213.5C53.3 211 106.7 206 160 203.5C213.3 201 266.7 201 320 204.5C373.3 208 426.7 215 480 218.8C533.3 222.7 586.7 223.3 640 220.7C693.3 218 746.7 212 800 208.3C853.3 204.7 906.7 203.3 960 206.3C1013.3 209.3 1066.7 216.7 1120 216.8C1173.3 217 1226.7 210 1280 206.5C1333.3 203 1386.7 203 1440 207.3C1493.3 211.7 1546.7 220.3 1600 221C1653.3 221.7 1706.7 214.3 1760 214.2C1813.3 214 1866.7 221 1893.3 224.5L1920 228L1920 301L1893.3 301C1866.7 301 1813.3 301 1760 301C1706.7 301 1653.3 301 1600 301C1546.7 301 1493.3 301 1440 301C1386.7 301 1333.3 301 1280 301C1226.7 301 1173.3 301 1120 301C1066.7 301 1013.3 301 960 301C906.7 301 853.3 301 800 301C746.7 301 693.3 301 640 301C586.7 301 533.3 301 480 301C426.7 301 373.3 301 320 301C266.7 301 213.3 301 160 301C106.7 301 53.3 301 26.7 301L0 301Z' fill='%23e9e9e9'%3e%3c/path%3e%3cpath class='path2' d='M0 245L26.7 243.5C53.3 242 106.7 239 160 238.8C213.3 238.7 266.7 241.3 320 241.2C373.3 241 426.7 238 480 235.8C533.3 233.7 586.7 232.3 640 234.3C693.3 236.3 746.7 241.7 800 243C853.3 244.3 906.7 241.7 960 242.3C1013.3 243 1066.7 247 1120 247.5C1173.3 248 1226.7 245 1280 245.2C1333.3 245.3 1386.7 248.7 1440 247C1493.3 245.3 1546.7 238.7 1600 238.7C1653.3 238.7 1706.7 245.3 1760 245C1813.3 244.7 1866.7 237.3 1893.3 233.7L1920 230L1920 301L1893.3 301C1866.7 301 1813.3 301 1760 301C1706.7 301 1653.3 301 1600 301C1546.7 301 1493.3 301 1440 301C1386.7 301 1333.3 301 1280 301C1226.7 301 1173.3 301 1120 301C1066.7 301 1013.3 301 960 301C906.7 301 853.3 301 800 301C746.7 301 693.3 301 640 301C586.7 301 533.3 301 480 301C426.7 301 373.3 301 320 301C266.7 301 213.3 301 160 301C106.7 301 53.3 301 26.7 301L0 301Z' fill='%23f3f3f3'%3e%3c/path%3e%3cpath class='path3' d='M0 261L26.7 262.3C53.3 263.7 106.7 266.3 160 267.8C213.3 269.3 266.7 269.7 320 268.7C373.3 267.7 426.7 265.3 480 265.5C533.3 265.7 586.7 268.3 640 267.7C693.3 267 746.7 263 800 264.3C853.3 265.7 906.7 272.3 960 276C1013.3 279.7 1066.7 280.3 1120 280.7C1173.3 281 1226.7 281 1280 278.3C1333.3 275.7 1386.7 270.3 1440 269.8C1493.3 269.3 1546.7 273.7 1600 273C1653.3 272.3 1706.7 266.7 1760 267.2C1813.3 267.7 1866.7 274.3 1893.3 277.7L1920 281L1920 301L1893.3 301C1866.7 301 1813.3 301 1760 301C1706.7 301 1653.3 301 1600 301C1546.7 301 1493.3 301 1440 301C1386.7 301 1333.3 301 1280 301C1226.7 301 1173.3 301 1120 301C1066.7 301 1013.3 301 960 301C906.7 301 853.3 301 800 301C746.7 301 693.3 301 640 301C586.7 301 533.3 301 480 301C426.7 301 373.3 301 320 301C266.7 301 213.3 301 160 301C106.7 301 53.3 301 26.7 301L0 301Z' fill='%23fefefe'%3e%3c/path%3e%3c/svg%3e");
  --background-hero2: url('/otherherolight.svg');
}

/* Blue-grey Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --background-color: #11191f;
    --primary: #546e7a;
    --primary-hover: #607d8b;
    --primary-focus: rgba(84, 110, 122, 0.25);
    --primary-inverse: #FFF;
    --background-hero: url("data:image/svg+xml;charset=UTF-8,%3csvg id='visual' viewBox='0 0 1920 300' width='1920' height='300' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3e%3cstyle type='text/css'%3e %40keyframes wave %7b 0%25 %7b transform: translate(0, 0);%7d 50%25 %7b transform: translate(5px, 8px);%7d 100%25 %7b transform: translate(0, 0);%7d %7d .path1 %7b animation-name: wave; animation-duration: 5s; animation-iteration-count: infinite; animation-timing-function: ease-in-out;%7d .path2 %7b animation-name: wave; animation-duration: 4.8s; animation-iteration-count: infinite; animation-timing-function: ease-in-out; animation-delay: 0.2s;%7d .path3 %7b animation-name: wave; animation-duration: 5.5s; animation-iteration-count: infinite; animation-timing-function: ease-in-out; animation-delay: 0.4s;%7d %3c/style%3e%3crect x='0' y='0' width='1920' height='300' fill='%23192f30'%3e%3c/rect%3e%3cpath class='path1' d='M0 216L26.7 213.5C53.3 211 106.7 206 160 203.5C213.3 201 266.7 201 320 204.5C373.3 208 426.7 215 480 218.8C533.3 222.7 586.7 223.3 640 220.7C693.3 218 746.7 212 800 208.3C853.3 204.7 906.7 203.3 960 206.3C1013.3 209.3 1066.7 216.7 1120 216.8C1173.3 217 1226.7 210 1280 206.5C1333.3 203 1386.7 203 1440 207.3C1493.3 211.7 1546.7 220.3 1600 221C1653.3 221.7 1706.7 214.3 1760 214.2C1813.3 214 1866.7 221 1893.3 224.5L1920 228L1920 301L1893.3 301C1866.7 301 1813.3 301 1760 301C1706.7 301 1653.3 301 1600 301C1546.7 301 1493.3 301 1440 301C1386.7 301 1333.3 301 1280 301C1226.7 301 1173.3 301 1120 301C1066.7 301 1013.3 301 960 301C906.7 301 853.3 301 800 301C746.7 301 693.3 301 640 301C586.7 301 533.3 301 480 301C426.7 301 373.3 301 320 301C266.7 301 213.3 301 160 301C106.7 301 53.3 301 26.7 301L0 301Z' fill='%23162324'%3e%3c/path%3e%3cpath class='path2' d='M0 245L26.7 243.5C53.3 242 106.7 239 160 238.8C213.3 238.7 266.7 241.3 320 241.2C373.3 241 426.7 238 480 235.8C533.3 233.7 586.7 232.3 640 234.3C693.3 236.3 746.7 241.7 800 243C853.3 244.3 906.7 241.7 960 242.3C1013.3 243 1066.7 247 1120 247.5C1173.3 248 1226.7 245 1280 245.2C1333.3 245.3 1386.7 248.7 1440 247C1493.3 245.3 1546.7 238.7 1600 238.7C1653.3 238.7 1706.7 245.3 1760 245C1813.3 244.7 1866.7 237.3 1893.3 233.7L1920 230L1920 301L1893.3 301C1866.7 301 1813.3 301 1760 301C1706.7 301 1653.3 301 1600 301C1546.7 301 1493.3 301 1440 301C1386.7 301 1333.3 301 1280 301C1226.7 301 1173.3 301 1120 301C1066.7 301 1013.3 301 960 301C906.7 301 853.3 301 800 301C746.7 301 693.3 301 640 301C586.7 301 533.3 301 480 301C426.7 301 373.3 301 320 301C266.7 301 213.3 301 160 301C106.7 301 53.3 301 26.7 301L0 301Z' fill='%23131e22'%3e%3c/path%3e%3cpath class='path3' d='M0 261L26.7 262.3C53.3 263.7 106.7 266.3 160 267.8C213.3 269.3 266.7 269.7 320 268.7C373.3 267.7 426.7 265.3 480 265.5C533.3 265.7 586.7 268.3 640 267.7C693.3 267 746.7 263 800 264.3C853.3 265.7 906.7 272.3 960 276C1013.3 279.7 1066.7 280.3 1120 280.7C1173.3 281 1226.7 281 1280 278.3C1333.3 275.7 1386.7 270.3 1440 269.8C1493.3 269.3 1546.7 273.7 1600 273C1653.3 272.3 1706.7 266.7 1760 267.2C1813.3 267.7 1866.7 274.3 1893.3 277.7L1920 281L1920 301L1893.3 301C1866.7 301 1813.3 301 1760 301C1706.7 301 1653.3 301 1600 301C1546.7 301 1493.3 301 1440 301C1386.7 301 1333.3 301 1280 301C1226.7 301 1173.3 301 1120 301C1066.7 301 1013.3 301 960 301C906.7 301 853.3 301 800 301C746.7 301 693.3 301 640 301C586.7 301 533.3 301 480 301C426.7 301 373.3 301 320 301C266.7 301 213.3 301 160 301C106.7 301 53.3 301 26.7 301L0 301Z' fill='%2311191f'%3e%3c/path%3e%3c/svg%3e");
    --background-hero2: url('/hero4.svg');
  }
}

/* Blue-grey Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #546e7a;
  --primary-hover: #607d8b;
  --primary-focus: rgba(84, 110, 122, 0.25);
  --primary-inverse: #FFF;
  --background-hero: url('/hero1.svg');
  --background-hero2: url('/hero4.svg');
}

/* Blue-grey (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);

  --font-family: "Raleway", "Roboto", "Ubuntu",
  "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";
  --line-height: 1.5;
  --font-weight: 400;
  --font-size: 18px;
  --border-radius: 0.25rem;
  --border-radius2: 1.5rem;
  --border-width: 1px;
  --outline-width: 3px;
  --spacing: 1rem;
  --typography-spacing-vertical: 1.5rem;
  --block-spacing-vertical: calc(var(--spacing) * 2);
  --block-spacing-horizontal: var(--spacing);
  --grid-spacing-vertical: 0;
  --grid-spacing-horizontal: var(--spacing);
  --form-element-spacing-vertical: 0.75rem;
  --form-element-spacing-horizontal: 1rem;
  --nav-element-spacing-vertical: 1rem;
  --nav-element-spacing-horizontal: 0.5rem;
  --nav-link-spacing-vertical: 0.5rem;
  --nav-link-spacing-horizontal: 0.5rem;
  --form-label-font-weight: var(--font-weight);
  --transition: 0.2s ease-in-out;
  --modal-overlay-backdrop-filter: blur(0.25rem);
}

@media (max-width: 576px) {
  :root {
    --font-size: 14px;
  }
}
@media (min-width: 576px) {
  :root {
    --font-size: 16px;
  }
}
@media (min-width: 768px) {
  :root {
    --font-size: 17px;
  }
}
@media (min-width: 992px) {
  :root {
    --font-size: 18px;
  }
}
@media (min-width: 1200px) {
  :root {
    --font-size: 19px;
  }
}

/**
 * Card (<article>)
 */
 article {
  margin: var(--block-spacing-vertical) 0;
  padding: var(--block-spacing-vertical) var(--block-spacing-horizontal);
  border-radius: var(--border-radius2);
  background: var(--card-background-color);
  box-shadow: var(--card-box-shadow);
}
article > header,
article > footer {
  text-align: center;
  margin-right: calc(var(--block-spacing-horizontal) * -1);
  margin-left: calc(var(--block-spacing-horizontal) * -1);
  padding: calc(var(--block-spacing-vertical) * 0.66) var(--block-spacing-horizontal);
  background-color: var(--card-sectionning-background-color);
}
article > header {
  margin-top: calc(var(--block-spacing-vertical) * -1);
  margin-bottom: var(--block-spacing-vertical);
  border-bottom: var(--border-width) solid var(--card-border-color);
  border-top-right-radius: var(--border-radius2);
  border-top-left-radius: var(--border-radius2);
}
article > footer {
  margin-top: var(--block-spacing-vertical);
  margin-bottom: calc(var(--block-spacing-vertical) * -1);
  border-top: var(--border-width) solid var(--card-border-color);
  border-bottom-right-radius: var(--border-radius2);
  border-bottom-left-radius: var(--border-radius2);
}

button,
input[type=submit],
input[type=button],
input[type=reset],
[role=button] {
  --background-color: var(--primary);
  --border-color: var(--primary);
  --color: var(--primary-inverse);
  --box-shadow: var(--button-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
  padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  outline: none;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  color: var(--color);
  font-weight: var(--font-weight);
  font-size: 1rem;
  line-height: var(--line-height);
  text-align: center;
  cursor: pointer;
  transition: background-color var(--transition), border-color var(--transition), color var(--transition), box-shadow var(--transition);
}
button:is([aria-current], :hover, :active, :focus),
input[type=submit]:is([aria-current], :hover, :active, :focus),
input[type=button]:is([aria-current], :hover, :active, :focus),
input[type=reset]:is([aria-current], :hover, :active, :focus),
[role=button]:is([aria-current], :hover, :active, :focus) {
  --background-color: var(--primary-hover);
  --border-color: var(--primary-hover);
  --box-shadow: var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
  --color: var(--primary-inverse);
  transform: scale(1.05);
}

/* *
* Grid
* Minimal grid system with auto-layout columns
*/
/* .grid {
  grid-column-gap: var(--grid-spacing-horizontal);
  grid-row-gap: var(--grid-spacing-vertical);
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
}
@media (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(0%, calc(33.33% - var(--grid-spacing-horizontal) * 2)));
  }
}
.grid > * {
  min-width: 0;
} */
